<html>
<head>
  <meta charset="UTF-8">
  <title>SFU Fitness App</title>
  <style>
      /* Inline CSS styles */
      h1 {
          color: #572424;
      }

      p {
          font-size: 16px;
      }
  </style>
</head>
<body>
<header>
  <h1>SFU Fitness App</h1>
</header>
<section class="main-content">
  <p>This is the default home page for your app.</p>
</section>
<footer>
  <p>&copy; 2023 Your App Name</p>
</footer>
</body>
</html>
=======
<h1>Home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= button_to 'About', about_path, method: :get %> 
<%= button_to 'Login', login_path, method: :get %>
<%= button_to 'create account', new_user_path, method: :get %>
