<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SFU Fitness App</title>
  <%= stylesheet_link_tag "style.css" %>
</head>
<body>
  <div class="navbar">
  <a href="home.html.erb">SFU Fitness App</a>
  <a href="home.html.erb">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Explore
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
<header>
  <pre>Fitness Made<br>For You</pre>
</header>
<div id="circle"></div>
<section>
  <p>Tracking your fitness progress at SFU! All exercises and activities suggested <br> 
  can be completed at the SFU Recreation Centre on SFU's Burnaby Campus</p>
</footer>
</body>
</html>
